
.container-fluid {
    border: 1px solid black;
    padding: 20px;
    background-image: url(images/background4.png);
      
}

.attack-box {
    border: 1px solid black;
    padding: 20px;
}

.row {
    margin: 0 auto;
    }

.img {
    width: 200px;
}

#pokemon {
    background-image: url(images/background2.jpg);
    }

#pikachu-figther {
    background-color: yellow;
    margin: 10px;
}

#charmander-figther {
    background-color: orange;
    margin: 10px;
}

#squirtle-figther {
    background-color: lightblue;
    margin: 10px;
}

#meowth-figther {
    background-color: #b8b894;
    margin: 10px;
}

#wheezing-figther {
    background-color: #c275c0;
    margin: 10px;
}

#wobbuffet-figther {
    background-color: #7f0099;
    margin: 10px;
}

.btn {
    border: none;
    font-size: 18px;
    font-weight: bold;
    
}
#pikachu-button {
    background-color: rgb(227, 205, 6);
}

#charmander-button {
    background-color: #ff6200;
}

#squirtle-button {
    background-color: rgb(63, 72, 204);
}

#meowth-button {
    background-color: rgb(195, 195, 195);
}

#wheezing-button {
    background-color: rgb(149, 191, 21);
}

#wobbuffet-button {
    background-color: rgb(138, 62, 138);
}

#battle-button {
    background-color: darkred;
    font-size: 40px;
}


